/shelf
/caches
/libraries
/dictionaries
/misc.xml
/modules.xml
/workspace.xml
/navEditor.xml
/assetWizardSettings.xml
/deploymentTargetDropDown.xml
/kotlinc.xml
/appInsightsSettings.xml
/migrations.xml
